<div class="background">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>
<app-modal *ngIf="openModal" (cancelModal)="cancelModal()" (close)="modalActions($event)" [open]="openModal" [titles]="dataTitle" [data]="dataModal"></app-modal>
<div class="header">
  <app-loader *ngIf="turn" [value]='turn?.Felicidad' (click)="showHappiness()"></app-loader>
  <app-event-notification *ngIf="show && eventMicro" [event]="eventMicro" [type]="'simple'" (pressed)="openModalFun($event)" (close)="close($event)" ></app-event-notification>
  <app-button class="pos" [ob]="portfolioBtn" [color]="'green'" (pressed)="openModalFun($event)"></app-button>
  <app-digits-show class="pos" *ngIf="turn" [name]="'Ingresos Mensuales'" [number]="turn.Ingresos"></app-digits-show>
  <app-digits-show class="pos" *ngIf="turn" [name]="'Egresos Mensuales'" [number]="turn.Egresos"></app-digits-show>
  <app-digits-show class="pos" *ngIf="turn" [name]="'Saldo en efectivo'" [number]="turn.DineroEfectivo"></app-digits-show>
  <h1 class="pos">Semana: {{turn?.NumeroTurnos}}</h1>
  <app-button class="pos" [ob]="endTurnBtn" [color]="'red'" (pressed)="openModalFun($event)"></app-button>
</div>

<div class="content">
  <div class="btn-left">
    <app-button [ob]="newLoanBtn" [color]="'blue'" (pressed)="openModalFun($event)"></app-button>
    <app-button [ob]="newActionsBtn" [color]="'blue'" (pressed)="openModalFun($event)"></app-button>
  </div>
  <div class="center">
    <div class="cards" *ngIf="activeCards">
      <flip-card *ngIf="cardInv" (selected)="blockOthers('inv')">
        <flip-card-front>
          <div class="title">
            <h2>Inversión</h2>
          </div>
          <div class="emblem">
            <img src="assets/investment.png" alt="">
          </div>
        </flip-card-front>
        <flip-card-back>
          <div class="title">
            <h2>Inversión</h2>
          </div>
          <div class="questions">
            <div *ngFor="let q of questionsInv" class="option" (click)="openModalCard(q)">
              <p class="concat">{{q.Descripcion}}</p>
            </div>
          </div>
        </flip-card-back>
      </flip-card>
    
      <flip-card *ngIf="cardFun" (selected)="blockOthers('fun')">
        <flip-card-front>
          <div class="title">
            <h2>Diversión</h2>
          </div>
          <div class="emblem">
            <img src="assets/fun.png" alt="">
          </div>
        </flip-card-front>
        <flip-card-back>
          <div class="title">
            <h2>Diversión</h2>
          </div>
          <div class="questions">
            <div *ngFor="let q of questionsFun" class="option" (click)="openModalCard(q)">
              <p class="concat">{{q.Descripcion}}</p>
            </div>
          </div>
        </flip-card-back>
      </flip-card>
    
      <flip-card *ngIf="cardGoods" (selected)="blockOthers('goods')">
        <flip-card-front>
          <div class="title">
            <h2>Bienes personales</h2>
          </div>
          <div class="emblem">
            <img src="assets/goods.png" alt="">
          </div>
        </flip-card-front>
        <flip-card-back>
          <div class="title">
            <h2>Bienes personales</h2>
          </div>
          <div class="questions">
            <div *ngFor="let q of questionsGoods" class="option" (click)="openModalCard(q)">
              <p class="concat">{{q.Descripcion}}</p>
            </div>
          </div>
        </flip-card-back>
      </flip-card>
    
      <flip-card *ngIf="cardWork" (selected)="blockOthers('work')">
        <flip-card-front>
          <div class="title">
            <h2>Laborales</h2>
          </div>
          <div class="emblem">
            <img src="assets/work.png" alt="">
          </div>
        </flip-card-front>
        <flip-card-back>
          <div class="title">
            <h2>Laborales</h2>
          </div>
          <div class="questions">
            <div *ngFor="let q of questionsWork" class="option" (click)="openModalCard(q)">
              <p class="concat">{{q.Descripcion}}</p>
            </div>
          </div>
        </flip-card-back>
      </flip-card>
    </div>
    <app-box (act)="resetCards($event); initTurn()"></app-box>
  </div>
  <div class="btn-right">
    <app-button [ob]="myLoansBtn" [color]="'blue'" (pressed)="openModalFun($event)"></app-button>
    <app-button [ob]="myActionsBtn" [color]="'blue'" (pressed)="openModalFun($event)"></app-button>
  </div>
</div>
<app-event-banner [event]="eventMacro"></app-event-banner>
