$height: 100px;

/* Space out content a bit */
.container {
  top: 40px;
  margin: auto;
  display: flex;
  perspective: 500;
  position: relative;
  height: max-content;
  perspective-origin: 50% -150px;
}
.box {
  width:100px;
  height:100px;
  margin: auto;
  position:relative;
  transform-style:preserve-3d;
  h1 {
    text-align: center;
  }
  .pos {
    top: 110px;
    left: -30px;
    position: absolute;
  }
}
.animate-box {
  animation: spin 3s infinite linear;
  animation-fill-mode: forwards;
}
.side {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/assets/side.jpg');
}
.side-1 {
  width:100px;
  height:100px;
  position:absolute;
  -o-transform: rotateX(90deg) translateZ(50px);
  transform: rotateX(90deg) translateZ(50px);
  transform-style:preserve-3d;
}

.side-2 {
  transform: translateZ(50px);
  font-family: 'CargoCrate', serif;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #663300;
}

.side-3 {
  transform: rotateY(90deg) translateZ(50px);
}

.side-4 {
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

.side-5 {
  transform: rotateY(180deg) translateZ(50px);
}

.side-6 {
  transform: rotateY(-90deg) translateZ(50px);
}
.inner-side {
  transition: 1s all linear;
}

.flap-1, .flap-2 {
  width:100px;
  height:50px; 
}

.flap-1 {
  top:50px;
  transform-origin:0px 50px;
}

.flap-2 {
  transform-origin:100px 0px;
}
.animate-flap1 {
    transform: rotateX(-120deg);
}
.animate-flap2 {
    transform: rotateX(120deg);
}

i.fa.fa-glass {
font-size: 25px;
margin-top: 20px;
color: #000;
}

@keyframes spin {
  to { transform: rotateY(360deg); }
}