<div class="login-background">
    <div class="content">
        <div class="login-input">
            <div class="login">
                <ng-container [ngSwitch]="action">
                    <ng-container *ngSwitchCase="'login'">
                        <ng-container *ngTemplateOutlet="login"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'register'">
                        <ng-container *ngTemplateOutlet="register"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="'recover'">
                        <ng-container *ngTemplateOutlet="recover"></ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #login>
    <h1>Iniciar sesión</h1>
    <form class="inputs" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="input">
            <img src="assets/user-profile.png" alt="">
            <input type="text" name="username" (click)="errorUser = false" formControlName="username" [ngClass]="{'error': errorUser}" placeholder="Correo"/>
        </div>
        
        <div class="input">
            <img src="assets/lock.png" alt="">
            <input type="password" name="password" (click)="errorPass = false" formControlName="password" [ngClass]="{'error': errorPass}" placeholder="Contraseña"/>
        </div>
        <button class="btn-login" type="submit">Entrar</button>
        <button class="btn-login" (click)="action = 'register'">Registrarse</button>
        <!-- <p (click)="action = 'recover'; resetAll()">¿Olvidaste tu contraseña?</p> -->
    </form>
</ng-template>

<ng-template #register>
    <h1>Registro</h1>
    <form class="inputs" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
        <div class="input">
            <img src="assets/user-profile.png" alt="">
            <input type="text" name="username" (click)="errorUserNew = false" formControlName="username" [ngClass]="{'error': errorUserNew}" placeholder="Correo"/>
        </div>
        
        <div class="input">
            <img src="assets/lock.png" alt="">
            <input type="password" name="password" (click)="errorPassNew = false" formControlName="password" [ngClass]="{'error': errorPassNew}" placeholder="Contraseña"/>
        </div>

        <div class="input">
            <img src="assets/lock.png" alt="">
            <input type="password" name="password2" (click)="errorPassNew2 = false" formControlName="password2" [ngClass]="{'error': errorPassNew2}" placeholder="Repetir contraseña"/>
        </div>

        <button class="btn-login" type="submit">Registrarse</button>
        <p (click)="action = 'login'; resetAll()">Atras</p>
    </form>
</ng-template>

<ng-template #recover>
    <h1>Recuperar contraseña</h1>
    <form class="inputs" [formGroup]="recoverForm" (ngSubmit)="onSubmitRecover()">
        <div class="input">
            <img src="assets/email.png" alt="">
            <input type="text" name="recoverEmail" (click)="errorRecover = false" formControlName="recoverEmail" [ngClass]="{'error': errorRecover}" placeholder="Correo"/>
        </div>
        
        <button class="btn-login" type="submit">Recuperar</button>
        <p (click)="action = 'login'; resetAll()">Atras</p>
    </form>
</ng-template>