<div class="body" [ngClass]="{'modal-active': open}">
    <div id="modal-container" [ngClass]="{'effect': open, 'out': !open}">
        <div class="modal-background">
            <div class="modal">
                <div class="content">
                    <div class="modal-body"> 
                        <div class="wrap">
                      
                          <ul class="tabs group">
                            <li *ngFor="let title of titles"><a [ngClass]="{'active': title.active}" (click)="changeTab(title)" class="title">{{title.name}}</a></li>
                          </ul>

                          <div id="content">
                            <div class="wave -one"></div>
                            <div class="wave -two"></div>
                            <div class="wave -three"></div>
                            <!-- Switch para cada opcion del modal -->
                            <ng-container [ngSwitch]="activeSwitch.internalName">
                              <ng-container *ngSwitchCase="'portfolio'">
                                <ng-container *ngTemplateOutlet="portfolio"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'newActions'">
                                <ng-container *ngTemplateOutlet="newActions"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'newLoan'">
                                <ng-container *ngTemplateOutlet="newLoan"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'myActions'">
                                <ng-container *ngTemplateOutlet="myActions"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'myLoans'">
                                <ng-container *ngTemplateOutlet="myLoans"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'questions'">
                                <ng-container *ngTemplateOutlet="questions"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'endGame'">
                                <ng-container *ngTemplateOutlet="endGame"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'happiness'">
                                <ng-container *ngTemplateOutlet="happiness"></ng-container>
                              </ng-container>
                              <ng-container *ngSwitchCase="'microEvent'">
                                <ng-container *ngTemplateOutlet="microEvent"></ng-container>
                              </ng-container>
                          </ng-container>
                          </div>
                    
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #portfolio>
  <div class="portfolio">
    <div class="side">
      <div class="title">Ingresos</div>
      <div class="aa_htmlTable">
        <table>
          <thead style="position: sticky;">
            <tr>
              <th>Nombre</th>
              <th>Período</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data?.Ingresos">
              <td>{{d?.Nombre}}</td>
              <td>{{d?.Periodo}}</td>
              <td>{{d?.Cantidad | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="side">
      <div class="title">Egresos</div>
      <div class="aa_htmlTable">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Período</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of data?.Egresos">
              <td>{{d?.Nombre}}</td>
              <td>{{d?.Periodo}}</td>
              <td>{{d?.Cantidad | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>

<ng-template #newActions>
  <ng-container *ngIf="selected">
    <div class="side">
      <div class="aa_htmlTable">
        <h3>Prestamo seleccionado</h3>
        <table>
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Tipo de inversión</td>
              <td>Rendimiento</td>
              <td>Cantidad</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{objSelected?.Inversion}}</td>
              <td>{{objSelected?.TipoInversion}}</td>
              <td>{{objSelected?.RangoRendimiento}}</td>
              <td>
                <input [(ngModel)]="qty" type="number">
                <button (click)="sendSelectedObj(activeSwitch.internalName)">Invertir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <div class="aa_htmlTable" [ngClass]="{'adjust': selected}">
    <table>
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Tipo de inversión</td>
          <td>Rendimiento</td>
          <td>Seleccionar</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>{{d?.Inversion}}</td>
          <td>{{d?.TipoInversion}}</td>
          <td>{{d?.RangoRendimiento}}</td>
          <td><button (click)="selectedObj(d)">Seleccionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>

<ng-template #newLoan>
  <ng-container *ngIf="selected">
    <div class="side">
      <div class="aa_htmlTable">
        <h3>Prestamo seleccionado</h3>
        <table>
          <thead>
            <tr>
              <td>Tipo préstamo</td>
              <td>Tasa interés</td>
              <td>Duración</td>
              <td>Cantidad</td>
              <td>Enganche</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{objSelected?.TipoPrestamo}}</td>
              <td>{{objSelected?.TazaInteres}}</td>
              <td>{{objSelected?.Duracion}}</td>
              <td>
                <input type="number" [(ngModel)]="qty"> 
              </td>
              <td>
                <input type="number" [(ngModel)]="hitch"> 
              </td>
              <td>
                <button (click)="sendSelectedObj(activeSwitch.internalName)">Solicitar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <div class="aa_htmlTable" [ngClass]="{'adjust': selected}">
    <table>
      <thead>
        <tr>
          <td>Tipo préstamo</td>
          <td>Tasa interés</td>
          <td>Duracion</td>
          <td>Seleccionar</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>{{d?.TipoPrestamo}}</td>
          <td>{{d?.TazaInteres}}</td>
          <td>{{d?.Duracion}}</td>
          <td><button (click)="selectedObj(d)">Seleccionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>

<ng-template #myActions>
  <ng-container *ngIf="activeSwitch.position === 0">
    <ng-container *ngIf="selected">
      <div class="side">
        <div class="aa_htmlTable">
          <h3>Inversion seleccionada</h3>
          <table>
            <thead>
              <tr>
                <th>Nombre de inversión</th>
                <th>Tipo empresa</th>
                <th>Saldo inicial</th>
                <th>Incial + Aportación</th>
                <th>Saldo actual</th>
                <th>Invertir más dinero</th>
                <th>Retirar una cantidad (Dinero)</th>
                <th>Retirar todo (Dinero)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>{{objSelected?.NombreInversion}}</td>
              <td>{{objSelected?.TipoEmpresa}}</td>
              <td>{{objSelected?.SaldoInicial | currency}}</td>
              <td>{{objSelected?.SaldoAportacion | currency}}</td>
              <td>{{objSelected?.SaldoActual | currency}}</td>
              <td>
                <input type="number" [(ngModel)]="qty">
                <button (click)="sendSelectedObj(activeSwitch.internalName+'invest')">Invertir</button>
              </td>
              <td>
                <input type="number" [(ngModel)]="hitch">
                <button (click)="sendSelectedObj(activeSwitch.internalName+'getMoney')">Retirar</button>
              </td>
              <td>
                <button (click)="sendSelectedObj(activeSwitch.internalName+'Sell')">Retirar</button>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <div class="aa_htmlTable" [ngClass]="{'adjust': selected}">
      <table>
        <thead>
          <tr>
            <th>Nombre de inversión</th>
            <th>Tipo empresa</th>
            <th>Saldo inicial</th>
            <th>Inicial + Aportación</th>
            <th>Saldo actual</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data[0]?.shared">
            <td>{{d?.NombreInversion}}</td>
            <td>{{d?.TipoEmpresa}}</td>
            <td>{{d?.SaldoInicial | currency}}</td>
            <td>{{d?.SaldoAportacion | currency}}</td>
            <td>{{d?.SaldoActual | currency}}</td>
            <td><button (click)="selectedObj(d)">Seleccionar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="controls">
      <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
    </div>
  </ng-container>
  <ng-container *ngIf="activeSwitch.position === 1">
    <ng-container *ngIf="selected">
      <div class="side">
        <div class="aa_htmlTable">
          <h3>Inversion personal seleccionada</h3>
          <table>
            <thead>
              <tr>
                <th>Inversion</th>
                <th>Tipo de inversión</th>
                <th>Inicio</th>
                <th>Actual</th>
                <th>Retirar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{objSelected?.Descripcion}}</td>
                <td>{{objSelected?.TipoInversion}}</td>
                <td>{{objSelected?.Inicio | currency}}</td>
                <td>{{objSelected?.Actual | currency}}</td>
                <td><button (click)="sendSelectedObj(activeSwitch.internalName+'Personal')">Retirar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <div class="aa_htmlTable" [ngClass]="{'adjust': selected}">
      <table>
        <thead>
          <tr>
            <th>Inversion</th>
            <th>Tipo de inversion</th>
            <th>Inicio</th>
            <th>Actual</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data[0]?.own">
            <td>{{d?.Descripcion}}</td>
            <td>{{d?.TipoInversion}}</td>
            <td>{{d?.Inicio | currency}}</td>
            <td>{{d?.Actual | currency}}</td>
            <td><button (click)="selectedObj(d)">Seleccionar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="controls">
      <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
    </div>
  </ng-container>
</ng-template>

<ng-template #myLoans>
  <ng-container *ngIf="selected">
    <div class="side">
      <div class="aa_htmlTable">
        <h3>Prestamo personal seleccionada</h3>
        <table>
          <thead>
            <tr>
              <th>Tipo de inversión</th>
              <th>Mensualidad</th>
              <th>Meses restantes</th>
              <th>Saldo insoluto</th>
              <th>Abonar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{objSelected?.TipoPrestamo}}</td>
              <td>{{objSelected?.Mensualidad | currency}}</td>
              <td>{{objSelected?.MesesRestantes}}</td>
              <td>{{objSelected?.SaldoAbsoluto | currency}}</td>
              <td>
                <input type="number" [(ngModel)]="qty">
                <button (click)="sendSelectedObj(activeSwitch.internalName)">Pagar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <div class="aa_htmlTable" [ngClass]="{'adjust': selected}">
    <table>
      <thead>
        <tr>
          <th>Tipo de inversión</th>
          <th>Mensualidad</th>
          <th>Meses restantes</th>
          <th>Saldo insoluto</th>
          <th>Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>{{d?.TipoPrestamo}}</td>
          <td>{{d?.Mensualidad | currency}}</td>
          <td>{{d?.MesesRestantes}}</td>
          <td>{{d?.SaldoAbsoluto | currency}}</td>
          <td><button (click)="selectedObj(d)">Seleccionar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>

<ng-template #questions>
  <div class="text">
    <p>{{data[0]?.Descripcion}}</p>
  </div>
  <div class="aa_htmlTable">
    <table>
      <thead>
        <tr>
          <th>Afeta</th>
          <th>Cantidad</th>
          <th>Período</th>
          <th>Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data[0].Afecta">
          <td>{{d?.Afecta}}</td>
          <td *ngIf="isNumber(d?.Cantidad)">{{d?.Cantidad | currency}}</td>
          <td *ngIf="!isNumber(d?.Cantidad)">{{d?.Cantidad}}</td>
          <td>{{d?.Periodo}}</td>
          <td>{{d?.Duracion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cancelar</p>
    <p id="accept" (click)="closeModal()">Aceptar</p>
  </div>
</ng-template>
<ng-template #endGame>
  <div class="text">
    <p id="endGame" (click)="sendSelectedObj(activeSwitch.internalName+'Erase')">Reiniciar juego</p>
    <p id="endGame" (click)="sendSelectedObj(activeSwitch.internalName+'Save')">Guardar y salir</p>
    <p id="endGame" (click)="cancelModalFunc()">Cancelar</p>
  </div>
</ng-template>
<ng-template #happiness>
  <div class="aa_htmlTable">
    <table>
      <thead>
        <tr>
          <th>Descripcion</th>
          <th>Cantidad</th>
          <th>Período</th>
          <th>Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>{{d?.Decripcion}}</td>
          <td>{{d?.Cantidad}}</td>
          <td>{{d?.Periodo}}</td>
          <td>{{d?.Duracion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>

<ng-template #microEvent>
  <div class="text">
    <h2>{{data[0].Descripcion}}</h2>
  </div>
  <div class="aa_htmlTable">
    <table>
      <thead>
        <tr>
          <th>Afecta</th>
          <th>Cantidad</th>
          <th>Periodo</th>
          <th>Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data[0].Afecta">
          <td>{{d?.Afecta}}</td>
          <td *ngIf="isNumber(d?.Cantidad)">{{d?.Cantidad | currency}}</td>
          <td *ngIf="!isNumber(d?.Cantidad)">{{d?.Cantidad}}</td>
          <td>{{d?.Periodo}}</td>
          <td>{{d?.Duracion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="controls">
    <p id="accept" (click)="cancelModalFunc()">Cerrar</p>
  </div>
</ng-template>