.body {
  top: 0;
  left: 0;
  z-index: 2;
  height:100%;
  width: 100%;
  min-height:100%;
  position: fixed;
  min-width: 100%;
  &.modal-active {
      overflow: hidden;
  }
}
#modal-container {
  position:fixed;
  display:table;
  height:100%;
  width:100%;
  top:0;
  left:0;
  transform:scale(0);
  z-index:1;
  &.effect {
    transform:scale(1);
    .modal-background {
      background:rgba(0,0,0,.0);
      animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
      .modal {
        min-width: 500px;
        background-color:transparent;
        animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .content {
          opacity:0;
          position:relative;
          animation: modalContentFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
        .modal-svg {
          rect {
            animation: sketchIn .5s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }
    &.out {
      animation: quickScaleDown 0s .5s linear forwards;
      .modal-background {
        animation: fadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        .modal {
          animation: modalFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .content {
            animation: modalContentFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
          .modal-svg {
            rect {
              animation: sketchOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
        }
      }
    }
  }
  .modal-background {
    display:table-cell;
    background:rgba(0,0,0,.8);
    text-align:center;
    vertical-align:middle;
    .modal {
      border-radius:3px;
      position:relative;
      background:transparent;
      display: inline-block;
      .modal-body {
        overflow-y: hidden;
        .wrap {
          margin: 0 auto;
          animation: 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
        ul.tabs {
          margin: 0 auto;
          list-style: none;
          display: flex;
          overflow: hidden;
          padding: 0;
        }
        ul.tabs li {	
          float: left;
          width: 100%;
          &:hover {
            cursor: pointer;
          }
        }
        ul.tabs li a {
          position: relative;
          display: block;
          height: 30px;
          margin-top: 40px;
          font-size: 30px;
          text-align: center;	
          text-decoration: none;
          color: #ffffff;
          border: 0px solid #000000;
          -webkit-transition: padding 0.2s ease, margin 0.2s ease;
              -moz-transition: padding 0.2s ease, margin 0.2s ease;
                -o-transition: padding 0.2s ease, margin 0.2s ease;
                -ms-transition: padding 0.2s ease, margin 0.2s ease;
                    transition: padding 0.2s ease, margin 0.2s ease;
        }
        .tabs li:first-child a {
          z-index: 3;
          -webkit-border-top-left-radius: 8px;
        -moz-border-radius-topleft: 8px;
        border-top-left-radius: 8px;
        }
        .tabs li:nth-child(2) a {
          z-index: 2;
        }
        .tabs li:last-child a {
          z-index: 1;
          -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        border-top-right-radius: 8px;
        }
        ul.tabs li a.active {
          margin: 30px 0 0 0;
          padding: 10px 0 10px 0;
          background: cadetblue;
          color: white;
          z-index: 4;
          outline: none;

        }
        .group:before,
        .group:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }
        .group:after {
            clear: both;
        }
        .title {
          z-index: 1;
          opacity: .7;
          margin: 10px 0;
          text-indent: .3em;
          text-align: center;
          letter-spacing: .2em;
          text-transform: uppercase;
          transform: translate3d(0, 0, 0);
          text-shadow: 0 1px 0 rgba(black, .1);
          font-family: 'Playfair Display', serif;
        }
        #content {
          margin: 0 auto;
          min-width: 850px;
          min-height: 555px;
          overflow: hidden;
          position: relative;
          border-radius: 0 0 5px 5px;
          transform: translate3d(0, 0, 0);
          background: lighten(#f0f4c3, 10%);
          box-shadow: 0 2px 30px rgba(black, .2);
          .wave {
            opacity: .4;
            position: absolute;
            top: 2%;
            left: 30%;
            width: 800px;
            height: 700px;
            border-radius: 43%;
            margin-top: -250px;
            margin-left: -250px;
            background: #6edeef;
            transform-origin: 50% 48%;
            animation: drift 10000ms infinite linear;
            // background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
          }
          .-three {
            animation: drift 12000ms infinite linear;
          }
          
          .-two {
            animation: drift 14000ms infinite linear;
            opacity: .1;
            background: yellow;
          }
          &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 11;
            transform: translate3d(0, 0, 0);
          }
          .text {
            z-index: 1;
            position: inherit;
            #endGame:hover {
              cursor: pointer;
            }
            p {
              position: relative;
              display: block;
              height: 30px;
              margin-top: 40px;
              font-size: 30px;
              text-align: center;	
              text-decoration: none;
              color: black;
              border: 0px solid #000000;
              -webkit-transition: padding 0.2s ease, margin 0.2s ease;
                  -moz-transition: padding 0.2s ease, margin 0.2s ease;
                    -o-transition: padding 0.2s ease, margin 0.2s ease;
                    -ms-transition: padding 0.2s ease, margin 0.2s ease;
                        transition: padding 0.2s ease, margin 0.2s ease;
            }
          }
          .portfolio {
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            .side {
              width: 50%;
            }
          }
          table {
            background: transparent;
          }
          table,thead,tbody,tfoot,tr, td,th {
            text-align: center;
            margin: auto;
            padding: 10px;
            border:1px solid #dedede;
            background: transparent;
            padding: 1rem;
            width: 50%;
          }
          tbody {
            overflow-y: visible;
          }
          .adjust {
            max-height: 234px !important;
          }
          .aa_htmlTable{
            z-index: 1;
            width: 100%;
            margin: auto;
            max-height: 434px;
            position: relative;
            overflow-y: scroll; 
          }
        }
        .controls {
          z-index: 1;
          bottom: 0;
          width: 100%;
          height: auto;
          display: flex;
          position: absolute;
          background-color: white;
          justify-content: space-evenly;
        
          #accept {
            z-index: 1;
            opacity: .7;
            height: auto;
            width: auto;
            margin: 10px 0;
            color: black;
            text-indent: .3em;
            text-align: center;
            letter-spacing: .2em;
            text-transform: uppercase;
            transform: translate3d(0, 0, 0);
            text-shadow: 0 1px 0 rgba(black, .1);
            font-family: 'Playfair Display', serif;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% {
    background:rgba(0,0,0,.0);
  }
  100% {
    background:rgba(0,0,0,.7);
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes modalFadeIn {
  0% {
    background-color:transparent;
  }
  100% {
    background-color: transparent;
  }
}


@keyframes modalContentFadeIn {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:0;
  }
}
